/* Font */
.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-thin-italic {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: italic;
}




/* Universal Styles */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
  padding: 0px 192px;
}

/* Root Styles */

:root {
  --primary-color: #0E0E0E;
  --secondary-color: rgba(14, 14, 14, 0.5);
  --rank-color: rgba(14, 14, 14, 0.6);
  --description-color: rgba(14, 14, 14, 0.7);
  --card-title-color: rgba(14, 14, 14, 0.8);
}

/* Shared Styles */

.primary-btn {
  padding: 20px 41px;
  color: white;
  background-color: #006A50;
  border-radius: 9.6px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 21.6px;
  font-weight: 600;
  cursor: pointer;
  border: 1px transparent;
}

.primary-btn:hover {
  background-color: white;
  color: #006A50;
  border: 1px solid #006A50;
}

.head-foot-text {
  font-weight: 800;
  font-size: 38px;
}

.section-title {
  color: var(--primary-color);
  width: 100%;
  height: 57.6px;
  font-size: 48px;
  font-weight: 800;
}

.section-subtitle {
  color: var(--card-title-color);
  font-size: 24px;
  font-weight: 600;
}

.section-description {
  color: var(--description-color);
  font-size: 19.2px;
  font-weight: 400;
  margin-top: 28.8px;
}


/* Header Styles */

.head-title-container {
  display: flex;
  justify-content: space-between;

  padding: 37px 0px;
}



.head-button {
  color: #006A50;
  padding: 18px 36px;
  border: 1px solid #006A50;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 21.6px;
}

.head-button:hover {
  color: white;
  background-color: #006A50;
  padding: 18px 36px;
  border: 1px solid white;
}

/* Banner Styles */

.head-banner {
  margin: 0px auto;
  background-color: #C6E4D6;
  border-radius: 29px;
  width: 1536px;
  height: 672px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.banner-items {
  margin-left: 72px, 76px;
}

.banner-subtitle {
  width: 745px;
  height: 34px;
  font-size: 28.8px;
  font-weight: 500;
  color: var(--secondary-color);
  margin-bottom: 19.2px;
}

.banner-title {
  width: 745px;
  height: 241px;
  font-size: 67.2px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 28.8px;
}

/* Pillars of Bangladesh 2.0 Section Styles */

.pillars-of-bd {
  width: 100%;
  height: 388px;
  margin-top: 96px;
  margin-bottom: 96px;
}


.pilar-section-card-container {
  display: flex;
  justify-content: space-around;
}

.pillar-card {
  width: 360px;
  max-height: 290px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 28.8px;
}

.card-title {
  color: var(--card-title-color);
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 14.4px;
  margin-top: 28.8px;
}

.card-description {
  color: var(--description-color);
  font-size: 19.2px;
  font-weight: 400;
}


/* The Vision Of Future Section Styles */

.future-section-card-container {
  display: flex;
  gap: 28.8px;
  margin-top: 38.4px;
  margin-bottom: 38.4px;
}

.future-section-card {
  padding: 38.4px;
  width: 492px;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.card1 {
  background-color: rgba(84, 144, 245, 0.2);
}

.card2 {
  background-color: rgba(198, 228, 214, 1);
}

.card3 {
  background-color: rgba(247, 235, 207, 1);
}

.future-section-card-description {
  height: 86.4px;
}


.future-section-button {
  padding: 13.2px 24px;
  border-radius: 8px;
  margin-top: 34.8px;
}

.btn1 {
  color: white;
  background-color: rgba(84, 144, 245, 1);
  border: 1px solid rgba(84, 144, 245, 1);
}

.btn1:hover {
  color: rgba(84, 144, 245, 1);
  background-color: white;
  border: 1px solid rgba(84, 144, 245, 1);
}

.btn2 {
  color: white;
  background-color: rgba(9, 161, 92, 1);
  border: 1px solid rgba(9, 161, 92, 1);
}

.btn2:hover {
  color: rgba(9, 161, 92, 1);
  background-color: white;
  border: 1px solid rgba(9, 161, 92, 1);
}

.btn3 {
  color: white;
  background-color: rgba(255, 194, 57, 1);
  border: 1px solid rgba(255, 194, 57, 1);
}

.btn3:hover {
  color: rgba(255, 194, 57, 1);
  background-color: white;
  border: 1px solid rgba(255, 194, 57, 1);
}

/* Quotation Styles */

.quotation {
  padding: 0px 28.8px;
  margin-bottom: 100px;
}

.quotation-section-textarea {
  margin-left: 28.8px;
  padding: 57.6px 0px;
}

.quotation img {
  position: relative;
  left: 30px;
  top: 100px;
}

.quotation-section-description {
  color: var(--card-title-color);
  font-weight: 400;
  font-size: 19.2px;
  margin-bottom: 14.4px;
}

.rank-title {
  color: var(--rank-color);
  font-size: 19.2px;
  font-weight: 400;
  margin-top: 3px;
}

/* User Opinion Section Styles */

.user-opinion-section hr {
  border-color: rgba(14, 14, 14, 0.15);
}

.question-container {
  padding: 38.4px;
  margin-top: 28.8px;
}

.question-table-head {
  background-color: rgba(198, 228, 214, 1);
  border: 1px solid rgba(14, 14, 14, 0.15);
}

.question-table-row {
  height: 86.4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.question-title {
  font-size: 24px;
  font-weight: 600;
}

.question-title,
.question {
  padding: 0px 28.8px;
}

.question {
  font-size: 19.2px;
  font-weight: 600;
}

.question-table-row button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 15px 19.8px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 19.2px;
  font-weight: 500;
  border-radius: 4px;
  margin-right: 19.8px;
}

.question-table-row button:hover {
  background-color: rgba(198, 228, 214, 1);
}

/* News Section Styles */

.news-card {
  display: flex;
  padding: 57.6px;
  gap: 38.4px;
  margin-bottom: 28.8px;
}

.news-title {
  font-weight: 800;
  font-size: 38.4px;
  color: var(--card-title-color);
}

.satellite {
  width: 489.6px;
  height: 367.2px;
  border-radius: 24px;
}

.news-textarea img {
  width: 160.8px;
}

.reverse {
  flex-direction: row-reverse;
}

.news-gap {
  margin-bottom: 14.4px;
}

.news-description-gap {
  margin-bottom: 38.4px;
}


/* Donation Section Styles */

.center-align {
  text-align: center;
}

.donation-section {
  margin-top: 96px;
}

.donation-container {
  margin: 38.4px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28.8px;
}

.donation-box {
  padding: 48px;
  border-radius: 16px;
  font-size: 48px;
  font-weight: 800;
}

.donation-box:hover {
  padding: 46px;
  background-color: rgba(198, 228, 214, 1);
  border: 1px solid rgba(14, 14, 14, 0.15);
}

.custom-amount {
  width: 1238.4px;
  height: 76.8px;
  margin: auto;
}

#donation-amount {
  text-align: center;
  width: 100%;
  height: 100%;
  border: none;
  color: var(--card-title-color);
}

#donation-amount::placeholder {
  color: rgba(14, 14, 14, 0.3);
  font-size: 24px;
}


.done-btn {
  text-align: center;
  margin-top: 38.4px;
}